@{
    ViewData["Title"] = "Completed Projects";
}

<partial name ="_Navigation" />
<h1>@ViewData["Title"]</h1>

<p>Projects Completed:</p>

<ul>
    <li>BASIC HTML and CSS web pages</li>
    <li>Introduction to C#</li>
    <li>Java Script</li>
</ul>