@{
    ViewData["Title"] = "Current Projects";
}

<partial name="_Navigation" />
<h1>@ViewData["Title"]</h1>

<p>ASP.NET Core Project</p>

<ul>
    <li>MVC web application</li>
    <li>Learning how controllers and views work together</li>
</ul>