@{
    ViewData["Title"] = "Projects Ideas";
}

<partial name="_Navigation" />

<h1>@ViewData["Title"]</h1>

<p>Ideas for future Projects</p>

<ul>
    <li>Designs for a web page</li>
    <li>Java Script Project including HTML and CSS</li>
    <li>Ticket System</li>
</ul>