<nav>
    <ul>
        <li><a asp-controller="Projects" asp-action="Current">Current Projects</a></li>
        <li><a asp-controller="Projects" asp-action="Completed">Completed Projects</a></li>
        <li><a asp-controller="Projects" asp-action="Ideas">Project Ideas</a></li>
    </ul>
</nav>

<hr />